div.page-header{
	text-align: center;
	background-color: rgba(160, 160, 147, 0.38);
	margin-top: -20px;	
	width: 100%; 
	border-bottom: none;
	padding-top: 1em;
}
div.disclaimer {
	text-align: left;
	margin-left: 30%;
	color : darkred;
}

div.disclaimer li {
	margin-bottom: 1em
}

div.disclaimer li i {
    margin-top: -0.2em;
}

body{
	background-color: rgba(160, 160, 147, 0.38);
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body > div.container {
	padding-bottom: 2em;
}
footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
