div.pdbSubmitDiv{
	background-color: rgba(160, 160, 147, 0.38);
	padding: 1em;
	margin-top:1em;
}

div.ngl_canva.display{
	height: 400px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

div.pdbSubmitDiv span.loader {
	position: absolute;
    top: 40%;
    left: 20%;
    font-size: 2em;
}

div.pdbSubmitDiv span.editableResults {
	padding: 0.2em;
    background-color: white;
}

div.pdbSubmitDiv span.notEditableResults {
	padding: 0.2em;
    background-color: white;
}

div.pdbSubmitDiv div.ctrlBox {
    position: absolute;
    top: 5%;
    left: 5%;
}

div.pdbSubmitDiv div.ctrlBox label {
	font-weight: bold;
}

div.pdbSubmitDiv div.resultSummary {
    width: 75%;
    border-radius: 4px 4px 4px 4px;
    background: darkgrey;
    margin-top: 1.5em;
    margin-left: 12.5%;
}

div.pdbSubmitDiv div.resultSummary table thead th {
    text-align: center;
}
div.pdbSubmitDiv div.resultSummary table tbody td {
    padding-left: 5em;
}

div.pdbSubmitDiv div.resultSummary table tbody td.slider-td {
  padding-left: 0.5em;
}

div.pdbSubmitDiv div.pdbError {
    top: 25%;
    position: absolute;
    width: 90%;
    text-align: center;
    font-size: 1.5em;
    font-weight:300;
}

div.pdbSubmitDiv div.pdbError i {
    vertical-align: middle;
}


div.pdbSubmitDiv #slide-holder {
  display: flex;
 }

 div.pdbSubmitDiv .slider-value-display-container {
  text-align: center;
  padding-bottom: 0.5em;
 }

 div.pdbSubmitDiv #slider-value-display span {
  background-color: white;
  padding: 0.2em;
 }

 div.pdbSubmitDiv div.resultSummary table tbody  tr td.btn-holder {
  text-align: center;
  padding-left:0em;
}

div.pdbSubmitDiv div.resultSummary table tfoot td{
  border-top: 2px solid #ddd;
}

div.pdbSubmitDiv div.resultSummary table tfoot {
  text-align: right;
}


div.pdbSubmitDiv div.resultSummary table tfoot span {
font-size: 0.75em;
}

div.pdbSubmitDiv div.resultSummary table tfoot span.acron {
  font-size: 1.0em;
  font-weight: bold;
}

div.pdbSubmitDiv div.resultSummary table td.slider-td {
  /*border-top: 0px;*/
  padding-top: 1.0em;
}

div.pdbSubmitDiv div.resultSummary table td.btn-holder {
  border-top: 0px;
  padding-top: 0.2em;
  padding-bottom: 1.1em;
}

div.pdbSubmitDiv span.o-radius {
  padding-left: 0px !important;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}